.navbar-brand img {
  max-height: 32px;
  margin-top: 0px;
  vertical-align: middle;
  margin-left: 0px;
}
.app-aside-folded .navbar-brand img {
	max-height: 43px;
}
.child-icon {
	  padding: 0 6%;
	  font-size: 16px;
	&:first {
	  padding: 0 6% 0 0;
	}
	&:last {
	  padding: 0  0 0 6%;
	}
	&.mdac-rx {
	font-weight: bold;
	font-size: 100%;
	}
}
