@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-md3sg8');
	src:url('../fonts/icomoon.eot?#iefix-md3sg8') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-md3sg8') format('woff'),
		url('../fonts/icomoon.ttf?-md3sg8') format('truetype'),
		url('../fonts/icomoon.svg?-md3sg8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-badwords:before {
	content: "\e61f";
}
.icon-notlistening:before {
	content: "\e620";
}
.icon-bad:before {
	content: "\e621";
}
.icon-kick:before {
	content: "\e622";
}
.icon-hit:before {
	content: "\e623";
}
.icon-train:before {
	content: "\e600";
}
.icon-pacifier:before {
	content: "\e601";
}
.icon-baby:before {
	content: "\e602";
}
.icon-teddy:before {
	content: "\e603";
}
.icon-bottle:before {
	content: "\e604";
}
.icon-walkie:before {
	content: "\e605";
}
.icon-bike:before {
	content: "\e606";
}
.icon-stackingtoy:before {
	content: "\e607";
}
.icon-diaper:before {
	content: "\e608";
}
.icon-rattle:before {
	content: "\e609";
}
.icon-buggy:before {
	content: "\e60a";
}
.icon-safetypin:before {
	content: "\e60b";
}
.icon-stroller:before {
	content: "\e60c";
}
.icon-onesie:before {
	content: "\e60d";
}
.icon-crib:before {
	content: "\e60e";
}
.icon-horse:before {
	content: "\e60f";
}
.icon-unwell:before {
	content: "\e610";
}
.icon-frustrated:before {
	content: "\e611";
}
.icon-sleepy:before {
	content: "\e612";
}
.icon-sad:before {
	content: "\e613";
}
.icon-crying:before {
	content: "\e614";
}
.icon-quiet:before {
	content: "\e615";
}
.icon-loud:before {
	content: "\e616";
}
.icon-happy:before {
	content: "\e617";
}
.icon-joyful:before {
	content: "\e618";
}
.icon-attentive:before {
	content: "\e619";
}
.icon-silly:before {
	content: "\e61a";
}
.icon-angry:before {
	content: "\e61b";
}
.icon-scared:before {
	content: "\e61c";
}
.icon-timid:before {
	content: "\e61d";
}
.icon-stubborn:before {
	content: "\e61e";
}
